:root {
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --grey-claro: #5f5f5f;
  --grey-oscuro: #757575;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--warm-black);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 16px;
}

header .logo-img {
  width: 40px;
  border-radius: 50%;
  margin: 12px;
}

.user-data {
  width: 31%;
}

.user-data .user--name {
  font-size: 1.2rem;
  color: var(--off-white);
  font-weight: bold;
}

.user-data .ultimate {
  display: inline-block;
  background-color: var(--off-white);
  color: var(--black);
  font-weight: bold;
  font-size: 1rem;
  padding: 1px;
  border-radius: 2px;
}

.user-data .user--points {
  display: flex;
  align-items: center;
  width: 50px;
  color: var(--off-white);
}

.user-data .logo-points {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../assets/logos/icons8-g-48.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--off-white);
  margin: 0 4px 0 0;
  border-radius: 50%;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin-right: 10px;
}

.main-nav .nav-img {
  width: 40px;
  margin: 4px;
  background-color: var(--grey-claro);
  border-radius: 50%;
  padding: 6px;
}

main {
  width: 100%;
  height: 1000vh;
}

footer {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  background-color: var(--warm-black); 
  text-align: center; 
  padding: 10px 0; 
  z-index: 1000;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--warm-black);
}

footer img {
  width: 30px;
}

footer .game-pass {
  border-radius: 50px;
}